//Colour variables
//Background colour
$bg-primary: #FFFFFF;               //Main background
$bg-secondary: #232323;             //Footer


//Font colour
$text-primary: #1C1C1C;             //Main text
$text-secondary: #FFFFFF;           //Text on dark background
$text-tertiary: #828282;            //Social media icons, logo

//Border colour
$b-primary: #1C1C1C;                //Main borders
$b-secondary: #cfcccc;              //Separate sections
$b-green: #43d495;                 //Aside section
